apiVersion: v1
kind: Service
metadata:
  name: coordinates-api-svc
  labels:
    app: coordinates-api
  type: NodePort
spec:
  ports:
  - port: 8000
    targetPort: 8000
    nodePort: 30080
  selector:
    app: coordinates-api